* {
    transition: 200ms;
    margin: auto;
}

body {
  background-color:#DADAD8;
}

h3 { margin: 1%;}
h1 { text-align: center;}

#container {
  height: 100%; width:100%; font-size: 0; margin: 0;
}
#left, #right {
  display: inline-block;
  font-size: 12pt;
  margin-top: 5%;
  text-align: left;
  margin-left: 5%;
  margin-right: 5%;
}
#left {width: 30%; text-align: left;}
#right {width: 50%;}

#goodluck { margin-top: 5%; text-align: center;}


 
