* {
    text-align: center;
    transition: 200ms;
    margin: auto;
}

html, body {
  width:100%;
  height:100%;
  
  background-color:#DADAD8;
  font-size: 14pt;
}

input[type=button] {
  background-color: #0B5862;
  color: white;
  border: none;
  padding: 16px 32px;
  margin: 4px 2px;
  opacity: 0.8;
  text-decoration: none;
  cursor: pointer;
  align-content: center;
  font-weight: bold;
  font-size: 12pt;
}

input[type=button]:hover {opacity: 2}


.board {
    border-collapse: collapse;
    border: 4px solid black;
    width: 80%;
    height: 100%;
    margin-left: auto; 
    margin-right: auto;
}
.board_td {
  border: 1px solid gray;
  padding: 40px;
}

.selRight {
    border-right: 4px solid black;
}
  

.instructions {
  text-align: left;
  width: 60%;

}

#redBall {
    background-color: red;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: red;
}

#blueBall {
    background-color: blue;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    color: blue;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 25%;
}

.td-title {
  width: 350px;
}

/* The survey (background) */
.survey {
    /* display: none; Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: -1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100vw; /* Full width */
    height: 100vh; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Survey Content */
  .survey-content {
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    height: 100%;;
    height: fit-content;
    align-content: center;
    text-align: center;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;

    -moz-animation-name: slideIn;
    -moz-animation-duration: 0.4s;

    animation-name: slideIn;
    animation-duration: 0.4s;
    
  }
  
  /* The Close Button */
  .close {
    color: white;
    float: right;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  .survey-header {
    padding: 2px 16px;
    background-color: #0B5862;
    color: white;
  }
  
  .survey-body {
    height: 100%;
    padding: 2px 16px;
  }
  
  .survey-footer {
    padding: 2px 16px;
    background-color: #0B5862;
    color: white;
  }
  
  /* Add Animation */
  @-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
  }
  
  @keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
  }
  
  @-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }
  
  @keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
  }

  select {
    width: fit-content;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  textarea {
    height: 25px;
  }

  input[type=text], input[type=number] {
    width: fit-content;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }

  textarea {
    width: 100%;
  }

  input[type='radio'] {
    padding: 0;
    margin: 0;
    transform: scale(1.5);
    margin-right: 10px;
  }
  
  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: black
  }

  .rating-table {
    border: 0px black solid;
  }

  td {
    border: 1px black solid;
    width: 135px;
    height: 35px;
  }

  tr {
    height: 1px;
  }
  
  .tooltip {
    position: relative;
    display: inline-block;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -110px;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }


 
